.box {
    width: 50px;
    right: 50px;
    background: #ff1492;
   
   
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 5px;
    

    margin: 10px  50px  30px  5px;
    
}  